.jumbotron {
    background-image: url("./july-4th-picnic-main.jpg");
    min-height: 400px;
    object-fit: cover;
  }

  .jumbotron h1 {
    font: bold;
  }

  .btn {
    margin: 5px;
  }

  #notes {
    margin: 20px;
  }

  #bodyinput {
    width: 100%;
  }