.jumbotron {
    background-image: url("./HLY-Salmon-Seasoned-Rice-Horizontal.jpg");
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right;
    min-height: 400px;
  }

  .jumbotron h1 {
    position: absolute;
    left:20px;

  }